entrypoint = "README.md"
modules = ["python-3.12"]

run = "streamlit run streamlit_app.py"

# Install requirements.txt on startup
onstart = "pip install -r requirements.txt"

[gitHubImport]
requiredFiles = [".replit"]

[deployment]
run = ["sh", "-c", "streamlit run streamlit_app.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8501
externalPort = 80
